body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
a {
  color: #973397;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  width: 80%;
  padding: 15px 20px;
}
.search-form-button {
  background: #973397;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 15px 30px;
  color: white;
}
.weather-container {
  background: white;
  max-width: 30px auto;
  padding: 30px;
  box-shadow: 0 30p 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #747475;
}
